* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--main-page-background);
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img, picture, video, canvas, svg {
  border-style: none;
  display: block;
  max-width: 100%;
}